
<%= form_with scope: :professor, url: professors_path, local: true do |form| %>

  <% if @professor.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@professor.errors.count, "error") %> prohibited
      this professor record from being saved:
    </h2>
    <ul>
      <% @professor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>





<%= form_for @professor, html: { multipart: true } do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :department %><br>
    <%= f.text_area :department %>
  </p>
  <p>
    <%= f.label :position %><br>
    <%= f.text_area :position %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>





  <% end %>